<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="items/index_head.html :: indexhead"></head>

<body>
<div th:replace="/items/navBar.html :: navBar"></div>

<!--<div class="container">-->
<!--    <div class="card">-->
<!--        <strong th:text="${category.name}">Category Title</strong>-->
<!--    </div>-->
<!--    <div id="products" class="row">-->
<!--        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">-->
<!--            <div class="card">-->
<!--                <img class="" src="https://placehold.it/400x250/000/fff"-->
<!--                     th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt=""/>-->
<!--                <div class="card-header">-->
<!--                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>-->
<!--                    <p class="card-text" th:text="${prod.description}">Product description... </p>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <div class="card-text">-->
<!--                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>-->
<!--                    </div>-->
<!--                    <div class="card-text">-->
<!--                        <a class="btn btn-success" href="#">Add to cart</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div th:replace="/items/googleMaps.html :: google_maps"></div>-->

<div th:replace="/items/imagecarousel.html :: carousel"></div>

<div th:replace="/items/propertyCarusel.html :: productscarusel"></div>


<div th:replace="footer.html :: copy"></div>

</body>
</html>